html, body {
  /* overflow-x: hidden; */
}
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu-item {
  @apply px-4 py-2 hover:bg-blue-100 cursor-pointer flex justify-center ;
}